<div><%= req.lang("auth.hi") %> <%= user.first_name %></div>
<p>

    <%= req.lang("auth.we_receive_password_reset") %>

    <br/><br/>

    <%= req.lang("auth.your_code_is") %>

    <br/><br/>

</p>

<div class="password-token-code"><%= user.password_token %></div>

<br/>

<div><%= req.lang("auth.code_expiration_note") %></div>

<style>

    * {
        direction: ltr;
    }

    .password-token-code {
        text-align: center;
        background: #f5f5f5;
        font-size: 16px;
        line-height: 40px;
        height: 40px;
        margin: 20px 0;
    }

</style>






